.ipynb_checkpoints
.py37
.py38
*.pyc
*__pycache__*

dist
*egg*

*.rrng
*.RRNG
*.rng
*.RNG
*.FIG.txt
*.FIG.TXT
*.fig.txt
*.fig.TXT
*.pos
*.POS
*.epos
*.EPOS
*.ePOS
*.apt
*.APT
*.h5
*.H5
*.hdf5
*.HDF5
*.nxs
*.NXS

