repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.0
    hooks:
      - id: ruff-check
        files: ^(src/pynxtools|tests)/.*\.py$
      - id: ruff-format
        files: ^(src/pynxtools|tests)/.*\.py$
