site_name: Documentation
site_description: |
  The documentation for the ifes_apt_tc_data_modeling Python library.
site_author: The IFES APT-TC, the atom probe community, and the NOMAD Authors
repo_url: https://github.com/atomprobe-tc/ifes_apt_tc_data_modeling
edit_uri: ""

nav:
  - Home: index.md
  - Tutorials:
      - tutorial/install_user.md
      - tutorial/install_devs.md
  - How-To Guides:
      - how-tos/howto.md
  - Explanation:
      - explanation/learn.md
  - Reference:
      - reference/refs.md

plugins:
  - search
  - macros:
      module_name: src/ifes_apt_tc_data_modeling/mkdocs

theme:
  name: material
  palette:
    primary: '#2A4CDF'
    accent: '#008A67'
  font:
    text: 'Titillium Web'
  logo: assets/favicon_ifes.png
  favicon: assets/favicon_ifes.png
  features:
    - navigation.instant
    - navigation.footer
    - content.code.copy
    - content.code.annotate
  custom_dir: docs/theme
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: True
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji
  - mkdocs-click
  - pymdownx.extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  generator: false

use_directory_urls: false

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascript.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js